<html>
<head>
<meta http-equiv="Content-Type" width="1280" height="1024" border="0" content="text/html; charset=utf-8"> 
</head>

<body>
<h1>中華漢服文化創意發展協會投票</h1>
vote value is <%= @vote.email %>
</body>
</html>