<%= @result %><br>
<br>
<a href='https://l.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLScWexx4A1nzbr14pw_JqRpCNnFuVv2QutJ7W03G7Q0-XZKzQg%2Fviewform%3Fusp%3Dpp_url%26entry.1191521952%26entry.43591049%26entry.691145826&h=ATNOwprLrEhvm1ejtVtLCg_761qIS9OEkZr2L1Qsnp9dq1B5s4L7qtTI1K4-g45DjqN4FcQomA1BF1oz4Wm4vlppHtgISuoA3SWbJ5otg3EgP7PsXE2uEnwZ68FWgT8A9OwnYuIoWqu10Mn6M4qVJA'>投票連結</a>